.popUpBox {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 8px;
}
.ConfirmAction {
    margin-right: 10px;
}